# 算术运算

In [6]:


import numpy as np
import pandas as pd
from pandas import Series,DataFrame
df1 = DataFrame(np.arange(12).reshape((3,4)),columns=list("abcd"))
df2 = DataFrame(np.arange(20).reshape((4,5)),columns=list("abcde"))
print(df1)

   a  b   c   d
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [7]:
print(df2)

    a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19

In [8]:
df1+df2

      a     b     c     d   e
0   0.0   2.0   4.0   6.0 NaN
1   9.0  11.0  13.0  15.0 NaN
2  18.0  20.0  22.0  24.0 NaN
3   NaN   NaN   NaN   NaN NaN

#为df1添加第3行和e这一列

In [9]:
df1.add(df2,fill_value=0)

      a     b     c     d     e
0   0.0   2.0   4.0   6.0   4.0
1   9.0  11.0  13.0  15.0   9.0
2  18.0  20.0  22.0  24.0  14.0
3  15.0  16.0  17.0  18.0  19.0

#按照正常方式将df1和df2相加，然后将NaN值填充为0

In [10]:
df1.add(df2).fillna(0)

      a     b     c     d    e
0   0.0   2.0   4.0   6.0  0.0
1   9.0  11.0  13.0  15.0  0.0
2  18.0  20.0  22.0  24.0  0.0
3   0.0   0.0   0.0   0.0  0.0

# DataFrame和Series之间的运算

In [11]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

frame = DataFrame(np.arange(12).reshape((4,3)),columns=list("bde"),
                 index=["Beijing","Shanghai","Shenzhen","Xiamen"])
frame

          b   d   e
Beijing   0   1   2
Shanghai  3   4   5
Shenzhen  6   7   8
Xiamen    9  10  11

In [13]:
print(frame.iloc[1])
# 获取某一行数据

b    3
d    4
e    5
Name: Shanghai, dtype: int32

In [19]:
print(frame.index)
print(frame.columns)

Index(['Beijing', 'Shanghai', 'Shenzhen', 'Xiamen'], dtype='object')
Index(['b', 'd', 'e'], dtype='object')

根据索引提取数据

In [15]:
print(frame.loc["Xiamen"])

b     9
d    10
e    11
Name: Xiamen, dtype: int32

In [17]:
series = frame.iloc[0]
print(series)

b    0
d    1
e    2
Name: Beijing, dtype: int32

In [18]:
print(frame-series)

          b  d  e
Beijing   0  0  0
Shanghai  3  3  3
Shenzhen  6  6  6
Xiamen    9  9  9

# 函数应用和映射
用apply()将一个规则应用到DataFrame的行或者列上，实例如下

In [20]:

frame = DataFrame(np.arange(12).reshape((4,3)),columns=list("bde"),
                 index=["Beijing","Shanghai","Shenzhen","Xiamen"])
frame

          b   d   e
Beijing   0   1   2
Shanghai  3   4   5
Shenzhen  6   7   8
Xiamen    9  10  11

In [21]:
f = lambda x : x.max() - x.min()  # 匿名函数

frame.apply(f)
#apply默认第二个参数axis=0,作用于列方向上，axis=1时作用于行方向上

b    9
d    9
e    9
dtype: int64

In [22]:
frame.apply(f,axis=1)

Beijing     2
Shanghai    2
Shenzhen    2
Xiamen      2
dtype: int64

In [23]:
f = lambda num : "%.2f"%num  #匿名函数
# 将匿名函数f应用到frame中的每一元素中
strFrame = frame.applymap(f)
strFrame

             b      d      e
Beijing   0.00   1.00   2.00
Shanghai  3.00   4.00   5.00
Shenzhen  6.00   7.00   8.00
Xiamen    9.00  10.00  11.00

In [24]:
frame.dtypes
# 获取DataFrame中每一列的数据类型

b    int32
d    int32
e    int32
dtype: object

In [25]:
strFrame.dtypes

b    object
d    object
e    object
dtype: object

In [26]:
frame["d"].map(lambda x :x+10)

Beijing     11
Shanghai    14
Shenzhen    17
Xiamen      20
Name: d, dtype: int64