In [9]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

df = DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f', 'h'], columns=['one', 'two', 'three'])
df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
# 检查缺失值
df

        one       two     three
a  0.312227 -0.412522 -1.017627
b       NaN       NaN       NaN
c  1.712946 -1.043187 -0.469632
d       NaN       NaN       NaN
e  0.669627  0.726266 -1.160709
f -0.287135 -1.980620 -0.861832
g       NaN       NaN       NaN
h -0.461427 -0.369959  0.201940

In [10]:
df['one'].isnull()

a    False
b     True
c    False
d     True
e    False
f    False
g     True
h    False
Name: one, dtype: bool

清理，填充缺失值

In [11]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

df = pd.DataFrame(np.random.randn(3, 3), index=['a', 'c', 'e'], columns=['one', 'two', 'three'])
df = df.reindex(['a', 'b', 'c'])
df

        one       two     three
a -1.382164  0.533017 -0.427422
b       NaN       NaN       NaN
c  0.437807 -0.081416 -1.872872

In [12]:
df.fillna(0)  #用0填充缺失值

        one       two     three
a -1.382164  0.533017 -0.427422
b  0.000000  0.000000  0.000000
c  0.437807 -0.081416 -1.872872

In [13]:
df.fillna(method='pad')  #填充时和前一行的数据相同

        one       two     three
a -1.382164  0.533017 -0.427422
b -1.382164  0.533017 -0.427422
c  0.437807 -0.081416 -1.872872

In [14]:
df.fillna(method='backfill')  #填充时和后一行的数据相同

        one       two     three
a -1.382164  0.533017 -0.427422
b  0.437807 -0.081416 -1.872872
c  0.437807 -0.081416 -1.872872

8.5.3丢失缺少的值
如果只想排除缺少的值，则使用dropna()函数和axis)参数。默认情况下，axis = 0，即在行上应用
这意味着如果行内的任何值缺失，那么整个行被排除

In [15]:
df = DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f', 'h'], columns=['one', 'two', 'three'])
df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
df

        one       two     three
a -1.167131 -0.735269  1.189402
b       NaN       NaN       NaN
c -1.459604  1.189348  0.156963
d       NaN       NaN       NaN
e  0.821634  0.191697  1.007263
f -0.545388 -0.796760 -0.214847
g       NaN       NaN       NaN
h -0.290115 -0.920490 -1.056674

In [16]:
df.dropna()  #默认情况下，axis = 0，即在行上应用

        one       two     three
a -1.167131 -0.735269  1.189402
c -1.459604  1.189348  0.156963
e  0.821634  0.191697  1.007263
f -0.545388 -0.796760 -0.214847
h -0.290115 -0.920490 -1.056674

In [18]:
print(df.dropna(axis=1))  # axis = 1时在列上应用

Empty DataFrame
Columns: []
Index: [a, b, c, d, e, f, g, h]

# 可以用一些具体的值取代一个通用的值

In [22]:
df = DataFrame({'one':[1,2,3,4,5,300],'two':[200,0,3,4,5,6]})
print(df)

   one  two
0    1  200
1    2    0
2    3    3
3    4    4
4    5    5
5  300    6

In [23]:
print(df.replace({200:10,300:60}))

   one  two
0    1   10
1    2    0
2    3    3
3    4    4
4    5    5
5   60    6