# 8.3.2丢弃指定轴上的项
可以使用drop()方法丢弃指定轴上的项，drop()方法返回的是一个在指定轴上
删除了指定值的新对象。
具体实例如下:

In [7]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
# Series根据行索引删除行
s1 = Series(np.arange(4), index = ['a', 'b', 'c','d'])
print(s1)

a    0
b    1
c    2
d    3
dtype: int32

In [8]:
s1.drop(['a', 'b'])

c    2
d    3
dtype: int32

# DataFrame根据索引行/列删除行/列

In [9]:
df1 = DataFrame(np.arange(16).reshape((4, 4)),
          index = ['a', 'b', 'c', 'd'],
          columns = ['A', 'B', 'C', 'D'])
print(df1)

    A   B   C   D
a   0   1   2   3
b   4   5   6   7
c   8   9  10  11
d  12  13  14  15

In [10]:
df1.drop(['A','B'],axis=1)
#在列的维度上删除AB两行，axis值为1表示列的维度

    C   D
a   2   3
b   6   7
c  10  11
d  14  15

 #在行的维度上删除行，axis值为0表示行的维度

In [11]:
df1.drop('a',axis= 0)

    A   B   C   D
b   4   5   6   7
c   8   9  10  11
d  12  13  14  15

In [ ]:
df1.drop(['a', 'b'], axis = 0)

In [13]:
# DataFrame的索引
data = DataFrame(np.arange(16).reshape((4, 4)),
         index = ['a', 'b', 'c', 'd'],
         columns = ['A', 'B', 'C', 'D'])
print(data)

    A   B   C   D
a   0   1   2   3
b   4   5   6   7
c   8   9  10  11
d  12  13  14  15

In [14]:
data['A']  #打印列

a     0
b     4
c     8
d    12
Name: A, dtype: int32

In [15]:
data[['A', 'B']]   #花式索引

    A   B
a   0   1
b   4   5
c   8   9
d  12  13

In [17]:
data[:3]

   A  B   C   D
a  0  1   2   3
b  4  5   6   7
c  8  9  10  11

In [21]:
data[data.A > 11] # a列小于11的值

    A   B   C   D
d  12  13  14  15

In [22]:
data < 5

       A      B      C      D
a   True   True   True   True
b   True  False  False  False
c  False  False  False  False
d  False  False  False  False

In [23]:
data[data < 5] = 0  #条件索引
data

    A   B   C   D
a   0   0   0   0
b   0   5   6   7
c   8   9  10  11
d  12  13  14  15