.3.9 shape函数
DataFrame的shape函数用于返回DataFrame的形状，具体用法如下
·shape:返回DataFrame包含几行几列;
·shape[0]: 返回DataFrame包含几行
·shape[1]:返回DataFrame包含几列

In [1]:
import pandas as pd
from pandas import DataFrame

frame = DataFrame({'b': [3, 1, 5, 2], 'a': [8, 4, 3, 7], 'c': [2, 7, 9, 4]})
frame

   b  a  c
0  3  8  2
1  1  4  7
2  5  3  9
3  2  7  4

In [2]:
frame.shape

(4, 3)

In [3]:
frame.shape[0]

4

In [4]:
frame.shape[1]

3

In [5]:
import numpy as np

df = DataFrame({'id': [1, np.nan, 3, 4],
                'name': ['asx', np.nan, 'wes', 'asd'],
                'score': [78, 90, np.nan, 88]},
               index=list('abcd'))
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, a to d
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      3 non-null      float64
 1   name    3 non-null      object
 2   score   3 non-null      float64
dtypes: float64(2), object(1)
memory usage: 128.0+ bytes

In [6]:
print(df)

    id name  score
a  1.0  asx   78.0
b  NaN  NaN   90.0
c  3.0  wes    NaN
d  4.0  asd   88.0

    num
0    16
1    36
2    10
3    31
4    46
5    26
6    28
7    11
8    43
9    46
10    3

In [ ]:
info_nums['num_bins'] = pd.cut(x=info_nums['num'], bins=[1, 25, 50])

# 3.3.11 cut()函数
网
cut()函数用于将数据进行离散化，将连续变量进行分段汇总，该方法仅适用于一维数组状对象。
如果我们有大量标量数据并对其进行一些统计分析,则可以使用cut()方法。
其语法形式如下:
pandas.cut(x，bins，right = True,labels = None,retbins = False,
precision = 3,include lowest =False)
其中，各个参数的含义如下:
·x:一维数组;
·bins:是指一个整型或标量序列，这些值定义用于分割的箱子的边缘。如果是整数，则表示将x划分
为多少个等距的区间;如果是序列，则表示将x划分在指定序列中，若不在该序列中，则是NaN;
·right: 是否包含右端点;
·labels: 是否用标记来代替返回的箱子
precision:精度;
·include lowest: 是否包含左端点

In [9]:
info_nums = DataFrame({'num': np.random.randint(1, 50, 11)})
info_nums

    num
0    46
1    24
2    26
3    31
4    37
5     5
6    48
7     6
8     3
9     2
10   22

In [10]:
info_nums['num_bins'] = pd.cut(x=info_nums['num'], bins=[1, 25, 50])
print(info_nums)

    num  num_bins
0    46  (25, 50]
1    24   (1, 25]
2    26  (25, 50]
3    31  (25, 50]
4    37  (25, 50]
5     5   (1, 25]
6    48  (25, 50]
7     6   (1, 25]
8     3   (1, 25]
9     2   (1, 25]
10   22   (1, 25]

In [11]:
info_nums['num_bins'].unique()

[(25, 50], (1, 25]]
Categories (2, interval[int64, right]): [(1, 25] < (25, 50]]

In [12]:
info_nums = DataFrame({'num': np.random.randint(1, 10, 7)})
print(info_nums)

   num
0    7
1    2
2    4
3    5
4    2
5    4
6    7

在info_nums里新建一列'nums_labels'的数据，划分依据是num，范围1,7,10类，打上标签lows和highs，

In [13]:
info_nums['nums_labels'] = pd.cut(x=info_nums['num'], bins=[1, 7, 10], labels=['Lows', 'Highs'], right=False)
print(info_nums)

   num nums_labels
0    7       Highs
1    2        Lows
2    4        Lows
3    5        Lows
4    2        Lows
5    4        Lows
6    7       Highs

In [14]:
info_nums['nums_labels'].unique()

['Highs', 'Lows']
Categories (2, object): ['Lows' < 'Highs']