统计相关的函数

In [5]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
df=DataFrame([[1.3,np.nan],[6.2,-3.4],[np.nan,np.nan],[0.65,-1.4]],columns=['one','two'])
print(df)
print(df.sum())  #计算每列的和，默认排除NaN

    one  two
0  1.30  NaN
1  6.20 -3.4
2   NaN  NaN
3  0.65 -1.4
one    8.15
two   -4.80
dtype: float64

In [6]:
df.sum(axis=1)  #计算每行的和，默认排除NaN

0    1.30
1    2.80
2    0.00
3   -0.75
dtype: float64

In [7]:
#计算每行的和，设置skipna=False，NaN参与计算，结果仍为NaN
df.sum(axis=1,skipna=False)

0     NaN
1    2.80
2     NaN
3   -0.75
dtype: float64

In [8]:
df.mean(axis=1)

0    1.300
1    1.400
2      NaN
3   -0.375
dtype: float64

In [9]:
df.cumsum()   #求样本值的累计和

    one  two
0  1.30  NaN
1  7.50 -3.4
2   NaN  NaN
3  8.15 -4.8

#针对列计算汇总统计

In [10]:
df.describe()

            one       two
count  3.000000  2.000000
mean   2.716667 -2.400000
std    3.034112  1.414214
min    0.650000 -3.400000
25%    0.975000 -2.900000
50%    1.300000 -2.400000
75%    3.750000 -1.900000
max    6.200000 -1.400000

8.4.2唯一值、值计数以及成员资格
1.唯一值和值计数

In [11]:
import pandas as pd
from pandas import Series
s = Series([3,3,1,2,4,3,4,6,5,6])


#判断Series中的值是否重复,False表示重复
print(s.is_unique)

False

In [12]:
#输出Series中不重复的值,返回值没有排序，返回值的类型为数组
print(sorted(s.unique())) # 加入sort排序

[1, 2, 3, 4, 5, 6]

In [13]:
#统计Series中重复值出现的次数,默认是按出现次数降序排序

s.value_counts()

3    3
4    2
6    2
1    1
2    1
5    1
dtype: int64

In [14]:
#按照重复值的大小排序输出频率
s.value_counts(sort=False)

3    3
1    1
2    1
4    2
6    2
5    1
dtype: int64

8.4.2唯一值、值计数以及成员资格
2.成员资格判断
下面是关于成员资格判断的具体实例

In [15]:
s = Series([6,6,7,2,2])
print(s)

0    6
1    6
2    7
3    2
4    2
dtype: int64

In [ ]:
#判断矢量化集合的成员资格,返回一个布尔类型的Series
s.isin([6])

In [16]:
type(s.isin([6]))

pandas.core.series.Series

In [18]:
#通过成员资格方法选取Series中的数据子集
print(s[s.isin([6])])

0    6
1    6
dtype: int64

In [20]:
data = [[4,3,7],[3,2,5],[7,3,6]]
df = DataFrame(data,index=["a","b","c"],columns=["one","two","three"])
print(df)

   one  two  three
a    4    3      7
b    3    2      5
c    7    3      6

In [21]:
#返回一个布尔型的DataFrame
df.isin([2])

     one    two  three
a  False  False  False
b  False   True  False
c  False  False  False

In [22]:
 #选取DataFrame中值为2的数，其他的为NaN
df[df.isin([2])]

   one  two  three
a  NaN  NaN    NaN
b  NaN  2.0    NaN
c  NaN  NaN    NaN

In [23]:
df[df.isin([2])].fillna(0)

   one  two  three
a  0.0  0.0    0.0
b  0.0  2.0    0.0
c  0.0  0.0    0.0