排序与排名

In [24]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
series = Series(range(4),index=list("dabc"))
series

d    0
a    1
b    2
c    3
dtype: int64

In [25]:
series.sort_index() #索引按字母顺序排序

a    1
b    2
c    3
d    0
dtype: int64

In [26]:
frame = DataFrame(np.arange(8).reshape((2,4)),
          index=["three","one"],
          columns=list("dabc"))
frame

       d  a  b  c
three  0  1  2  3
one    4  5  6  7

In [27]:
frame.sort_index() # 默认按行axis=0

       d  a  b  c
one    4  5  6  7
three  0  1  2  3

In [28]:
frame.sort_index(axis=1,ascending=False) # 按列

       d  c  b  a
three  0  3  2  1
one    4  7  6  5

In [29]:

df = DataFrame({"a":[4,7,-3,2],"b":[0,1,0,1]})
print(df)

   a  b
0  4  0
1  7  1
2 -3  0
3  2  1

In [30]:
# 按照b这一列的数据值进行排序
df.sort_values(by="b")

   a  b
0  4  0
2 -3  0
1  7  1
3  2  1

 # 排名

In [31]:
obj=Series([7,-4,7,3,2,0,5])
print(obj.rank())

0    6.5
1    1.0
2    6.5
3    4.0
4    3.0
5    2.0
6    5.0
dtype: float64

In [32]:
print(obj.rank(method='first'))

0    6.0
1    1.0
2    7.0
3    4.0
4    3.0
5    2.0
6    5.0
dtype: float64

In [33]:
obj.rank(method='min')

0    6.0
1    1.0
2    6.0
3    4.0
4    3.0
5    2.0
6    5.0
dtype: float64

In [34]:
obj.rank(method='max')

0    7.0
1    1.0
2    7.0
3    4.0
4    3.0
5    2.0
6    5.0
dtype: float64

dataframe使用rank()

In [35]:
frame=DataFrame({'b':[3,1,5,2],'a':[8,4,3,7],'c':[2,7,9,4]})
frame

   b  a  c
0  3  8  2
1  1  4  7
2  5  3  9
3  2  7  4

In [36]:
frame.rank(axis=1)  # axis=0时作用于列方向上，axis=1时作用于行方向上

     b    a    c
0  2.0  3.0  1.0
1  1.0  2.0  3.0
2  2.0  1.0  3.0
3  1.0  3.0  2.0

分组操作

In [37]:
dict_obj = {'key1' : ['a', 'b', 'a', 'b', 'a', 'b', 'a', 'a'],
        'key2' : ['one', 'one', 'two', 'three','two', 'two', 'one', 'three'],
        'data1': np.random.randn(8),
        'data2': np.random.randn(8)}
df_obj = DataFrame(dict_obj)
print(df_obj)

  key1   key2     data1     data2
0    a    one  0.636403 -0.214003
1    b    one  0.096001  0.378855
2    a    two  0.088268  0.873210
3    b  three -1.162972 -0.497800
4    a    two -0.040755 -0.504182
5    b    two -0.095457 -1.231589
6    a    one  0.742763  0.940466
7    a  three -0.639836 -0.396491

In [38]:
df_obj.groupby('key1')

In [39]:
type(df_obj.groupby('key1'))

pandas.core.groupby.generic.DataFrameGroupBy

In [40]:
df_obj['data1'].groupby(df_obj['key1'])

In [41]:
type(df_obj['data1'].groupby(df_obj['key1']))

pandas.core.groupby.generic.SeriesGroupBy

In [42]:
grouped1 = df_obj.groupby('key1')
grouped1.mean()

C:\Users\win10\AppData\Local\Temp\ipykernel_20648\1915980860.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped1.mean()

         data1     data2
key1
a     0.157369  0.139800
b    -0.387476 -0.450178

In [43]:
grouped2 = df_obj['data1'].groupby(df_obj['key1'])
grouped2.mean()

key1
a    0.157369
b   -0.387476
Name: data1, dtype: float64

In [44]:
grouped1.size()  #返回每个分组的元素个数

key1
a    5
b    3
dtype: int64

In [45]:
grouped2.size()  #返回每个分组的元素个数

key1
a    5
b    3
Name: data1, dtype: int64

In [46]:
df_obj.groupby([df_obj['key1'], df_obj['key2']]).size()

key1  key2
a     one      2
      three    1
      two      2
b     one      1
      three    1
      two      1
dtype: int64

In [47]:
grouped3 = df_obj.groupby(['key1', 'key2'])
grouped3.size()

key1  key2
a     one      2
      three    1
      two      2
b     one      1
      three    1
      two      1
dtype: int64

In [48]:
grouped3.mean()

               data1     data2
key1 key2
a    one    0.689583  0.363231
     three -0.639836 -0.396491
     two    0.023757  0.184514
b    one    0.096001  0.378855
     three -1.162972 -0.497800
     two   -0.095457 -1.231589

3.按照自定义的key分组
pandas支持按照自定义的key进行分组，具体实例如下

In [49]:
self_def_key = [0, 1, 2, 3, 3, 4, 5, 7]
df_obj.groupby(self_def_key).size()

0    1
1    1
2    1
3    2
4    1
5    1
7    1
dtype: int64